<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862270109027-do0a3bdlsu2vl31gcksebmm32b1ag44i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862270109027-do0a3bdlsu2vl31gcksebmm32b1ag44i</string>
	<key>API_KEY</key>
	<string>AIzaSyDlDBXQ7Xl1oqrs1-DGRxRmNDarER3yuG0</string>
	<key>GCM_SENDER_ID</key>
	<string>862270109027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.albrox9.albabroxExamen2dam</string>
	<key>PROJECT_ID</key>
	<string>examendi-177d6</string>
	<key>STORAGE_BUCKET</key>
	<string>examendi-177d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862270109027:ios:eb1de6bc484365ffbd0f56</string>
</dict>
</plist>